#
# QIC-117 floppy tape driver configuration
#

config FTAPE
	tristate "QIC-117 floppy tape support"
	depends on ISA || PARPORT
	help
	  If you have a tape drive that is connected to your floppy
	  controller, say Y here.

	  Some tape drives (like the Seagate "Tape Store 3200" or the Iomega
	  "Ditto 3200" or the Exabyte "Eagle TR-3") come with a "high speed"
	  controller of their own. These drives (and their companion
	  controllers) are also supported if you say Y here.

	  If you have a special controller (such as the CMS FC-10, FC-20,
	  Mountain Mach-2, or any controller that is based on the Intel 82078
	  FDC), you must configure it by selecting the appropriate entries
	  from the "Floppy tape controllers" sub-menu below and possibly
	  modify the default values for the IRQ and DMA channel and the IO
	  base in ftape's configuration menu.

	  If you want to use your floppy tape drive on a PCI-bus based system,
	  please read the file <file:Documentation/ftape.txt>.

	  The ftape kernel driver is also available as a runtime loadable
	  module ( = code which can be inserted in and removed from the
	  running kernel whenever you want). If you want to compile it as a
	  module, say M here and read <file:Documentation/kmod.txt>.

	  Note that the Ftape-HOWTO is out of date (sorry) and documents the
	  older version 2.x of this software but still contains useful
	  information.  There is a web page with more recent documentation at
	  <http://ftape.instmath.rwth-aachen.de/>.

config FTAPE_INTERNAL
	tristate "Internal floppy tape controller support"
	depends on FTAPE && ISA
	help
	  If you have a floppy tape drive that is connected to your floppy
	  disk controller, say Y here. This is the most common type of
	  connection.

config FTAPE_PARPORT
	tristate "Parallel port floppy tape support"
	depends on FTAPE && PARPORT
	help
	  If you have a parallel port floppy tape drive (such as the
	  Colorado Trakker or Micro Solutions BackPack), say Y here.

config FTAPE_TRAKKER
	tristate "HP Colorado Trakker support"
	depends on FTAPE_PARPORT
	help
	  Support for HP Colorado Trakker parallel port tape drives.

config FTAPE_BPCK
	tristate "Micro Solutions BackPack support"
	depends on FTAPE_PARPORT
	help
	  Support for Micro Solutions BackPack parallel port tape drives.

config ZFTAPE
	tristate "Zftape, the VFS interface"
	depends on FTAPE
	help
	  The zftape VFS interface for the ftape floppy tape driver.
	  Zftape lets you access your floppy tape drive in the same way
	  as any other block device.

	  To compile this driver as a module, choose M here: the
	  module will be called zftape.

config ZFT_DFLT_BLK_SZ
	int "Default block size"
	depends on ZFTAPE
	default "10240"
	help
	  If unsure, leave this at the default value of 10240. Note that
	  you can change this at module load time or at driver compilation
	  time. Please read <file:Documentation/ftape.txt> for more
	  information.

config FT_PROC_FS
	bool "Enable /proc filesystem interface"
	depends on FTAPE && PROC_FS
	help
	  Optional /proc/ftape interface

config ZFT_COMPRESSOR
	tristate "zftape compression support"
	depends on ZFTAPE
	help
	  Support for transparent decompression and compression.

config FT_IGNORE_ECC_ERRS
	bool "Ignore ECC errors by default"
	depends on FTAPE
	help
	  If enabled, ftape will ignore ECC errors by default and proceed
	  to the next segment. This can be useful for reading damaged tapes.

config FT_SOFT_RETRIES
	int "Number of soft retries"
	depends on FTAPE
	default "6"
	help
	  Number of low-level soft retries. Default is 6. Setting this to 1
	  will skip over bad segments faster but may result in more read errors.